body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.first{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 20px;
}

.bg{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1e2937;
    padding-left: 60px;
    padding-bottom: 30px;
}

.big{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}

.sec{
    font-size: 18px;
    color: #e5e7eb;
}

.topic{
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
}

.links{
    display: flex;
    margin-left: 55%;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 5px;
}

a{
    text-decoration: none;
    color: #f9faf8;
    padding-right: 20px;
    
}

.second{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    padding: 15px;
}

.wazo{
    margin-right: 20%;
    width: 400px;
}

.third{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 10px;
    margin-bottom: 250px;
    margin-top: 30px;
}

.cars{
    display: flex;
    justify-content: space-around;
    
}
.box{
    width: 200px;
    height: 100px;
    margin-right: 70px;
    margin-bottom: 70px;
    color: #1f2937;
}

.logo{
    height: 200px;
    width: 200px;
    border-radius: 250px;
}

.dominant{
    height: 250px;
    width: 500px;
    max-width: 100%;
}

.pic{
    height: 200px;
    width: 200px;
    border: solid 5px #3882f6;
    border-radius: 30px;
}

.enzo{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-bottom: 100px;
}

.enzo .a{
    font-size: 36px;
    margin-bottom: 70px;
    color: #1f2937;
    font-style: italic;
}

.b{
    align-self: flex-end;
    margin-right: 90px;
    font-weight: bold;
    font-size: 20px;
    margin-top: -40px;
}
.fourth{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin-left: 20px;
    gap: 40px;
    margin-bottom: 150px;
    background-color: #3882f6;
    border-radius: 15px;
    padding: 16px;
}

.cover{
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    padding-left: 20px;
    font-size: 18px;
    margin-right: 200px;
}

.footer{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #1e2937;
    color: #f9faf8;
    height: 80px;
}

button{
    background-color: #a10e0e;
    height: 35px;
    width: 100px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}

.tag{
    background-color: #a10e0e;
    height: 35px;
    width: 100px;
    border: 4px solid #fcfcfc;
    border-radius: 10px;
}

.toy{
    font-weight: bold;
    font-size: 20px;
}
.price
{
color:black;
font-weight: bolder;
font-family:'Times New Roman', Times, serif;

}